*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    background: linear-gradient(to right, blue, lightblue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    width: 480px;
    height: 480px;
    background: linear-gradient(to right,yellow,orange);
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 19px black;
    border: none;
}
.burger{
    position: absolute;
    right: 5px;
    bottom: 70px;
}
.cool{
    position: absolute;
    bottom: 110px;
    left: 89px;
}
.offer{
    position: absolute;
    bottom: 70px;
    left: 60px;
}
.offer > img{
    transition: all 1s linear ;
}
.offer > img:hover{
    cursor: pointer;
    transform: rotate(360deg);

}